
@{
    ViewBag.Title = "BlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlogPost</h2>

<br />
<br />

<form>
    <div class="form-group">
        <label for="formGroupExampleInput"> Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group" >
        <label for="Select">Category</label>
        <select id="Select" required="" class="form-control">
            <option>1</option>
            <option>2</option>
        </select>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Text</label>
        <input type="textarea" required="m" class="form-control" id="formGroupExampleInput2" >
    </div>
    <button type="submit" class="btn btn-primary"> Post</button>
</form>
<br />
<br />